body {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    background-image: url(../assets/pic2.jpg);
    background-size: contain;
    background-repeat: repeat-y;
}

header {
    height: 94vh;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(255,255,255, 0.05);
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
    position: center;
}

.mainTitle {
    text-align: center;
    font-size: 7rem;
    color: $color-one;
    margin-top: 3rem;
    margin-bottom: 0;
    font-weight: 300;
    text-shadow: 1px 1px 1px #000;
}

.goatAcronym {
    font-size: 3rem;
    color: $color-three;
}

.strongGoat {
    width: 37%;
}

.titleButton {
    color: $color-four;
    background-color: rgba(255,255,255,0.4);
    font-size: 2.5rem;
    border-radius: 10px;
}

.quizBox {
    width: 60%;
    min-height: 80vh;
    margin: 5rem auto;
    padding: 3rem;
    background: $color-three;
    display: flex; 
    flex-direction: column;
    text-shadow: 0 1px #000;
    box-shadow: 1px 1px rgba(0,0,0,0.3);
}

.title {
    color: rgb(109,109,109);
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.question {
    font-size: 1.4rem;
    margin: 2rem auto;
}

.choice {
    width: 80%;
    color: rgba(17, 17, 17, 0.584);
    margin: 0 auto;
    padding: 1rem;
    background: rgba(255,255,255, 0.2);
    // border-radius: 1rem;
    // transition: all 0.35s;
}

.choice input:checked .choice {
    color: $color-four;
    background: $color-two;
}

.choice:hover {
    background: rgba(255,255,255, 0.5);
}

.mainButtons > * {
    margin: 1rem;
}

.mainButtons {
    margin: 0 auto;
}

button {
    padding: 0.5rem 1.5rem;
    margin: 0 auto;
    border: none;
    font-weight: 300;
    color: $color-four;
    outline: none;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}

button:hover,
button:focus {
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(255,255,255, 0.5);
    transform: scale(1.1);
}

button.next {
    background: $color-two;
}

button.previous {
    background: $color-one;
}

.results {
    font-size: 2.5rem;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.results h2 {
    margin: 0;
}

.copyright {
    text-align: center;
    background-color: $color-four;
    color: $color-three;
    letter-spacing: 1.5px;
}