
// - global styles -

body {
    font-family: 'Oswald', sans-serif;
    background-color: $color-four;
    background-repeat: repeat-y;
    background-size: contain;
    font-weight: 100;
    padding: 0;
    margin: 0;
}



// - header starts here -



.wrapper {
    width: 90%;
    padding: 2rem;
    max-width: 1800px;
    margin: 1rem auto;
    text-align: center;
    background-position: center;
    background-image: url(../assets/pic2.jpg);
}

.flex {
    display: flex;
    position: center;
    flex-direction: column;
}

.mainTitle {
    width: 82%;
    margin: 0 auto;
    font-size: 7rem;
    font-weight: 300;
    text-align: center;
    animation: chill 1s;
    border-radius: 10px;
    background-color: $color-five;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.goatAcronym {
    font-size: 3rem;
    margin: 1rem auto;
    text-shadow: 2px 2px 2px #000;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.playersPic {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: end;
}

.imgDiv1,
.imgDiv2 {
    width: 20%;
}

.imgDiv3 {
    width: 30%;
}

.imgHeader1 {
    width: 70%;
    margin-right: -3rem;
}

.imgHeader2 {
    margin-right: -4rem;
}

.imgHeader3 {
    margin-left: -8rem;
}

.imgHeader2,
.imgHeader3 {
    width: 90%;
}

.imgHeader4 {
    width: 100%;
    margin-top: -5rem;
    margin-left: -15rem;
}

.shakes {
    animation: shakes 3s;
}

.shake {
    animation: shake 2s;
}

.shake,
.shakes {
    animation-iteration-count: infinite;
}

.bubble {
    right: 4rem;
    bottom: 20rem;
    padding: 1rem;
    position: absolute;
    border-radius: 25px;
    background: #ffffff98;;
}

.smallBubble {
    right: 10rem;
    bottom: 19rem;
    border-radius: 35%;
    position: absolute;
    color: rgba(0,0,0,0);
    background: #ffffff98;
}

.titleButton {
    padding: 1rem;
    margin-top: 2rem;
    font-size: 2.1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.9);
}

.titleButton:hover {
    transition: all 0.5s;
    background-color: $color-six;
    box-shadow: 1px 1px 10px #fff;
}



// - main starts here - 



.quizWrapper {
    display: none;
    padding-top: 4rem;
}

.quizBox {
    width: 60%;
    margin: auto;
    padding: 3rem;
    display: flex; 
    min-height: 80vh;
    border-radius: 20px;
    flex-direction: column;
    background: $color-five;
    text-shadow: 0 1px #000;
    box-shadow: 1px 1px rgba(0,0,0,0.3);
}

.title {
    margin-top: 0;
    font-weight: 700;
    font-size: 3.5rem;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 3rem;
    text-transform: uppercase;
    background: rgba(255,255,255, 0.5);
}

.question {
    font-size: 2.4rem;
    margin: 2rem auto;
}

.choice {
    width: 80%;
    margin: 0 auto;
    text-align: start;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: all 0.35s;
    background: $color-five;
    color: rgba(17, 17, 17, 0.5);
}

.choice:hover {
    background: rgba(255,255,255, 0.9);
}

.mainButtons > * {
    margin: 1rem;
}

.mainButtons {
    margin: 0 auto;
}
button {
    border: none;
    outline: none;
    margin: 0 auto;
    font-weight: 300;
    transition: all 0.35s;
    padding: 0.5rem 1.5rem;
    font-family: 'Share Tech', sans-serif;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
}



button:hover,
button:focus {
    font-weight: 500;
    transform: scale(1.05);
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
}

button.next {
    background: $color-two;
}

button.previous {
    background: $color-one;
}

button.next,
button.previous {
    margin-top: 3rem;
    font-size: 1.5rem;
    border-radius: 5px;
}



// - results section - 

.results {
    display: flex;
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
    flex-direction: column; 
    justify-content: flex-start;
}

.results .scoring {
    padding: 2rem 0;
    font-size: 3rem;
    text-shadow: 2px 2px 2px #fff;
}

.results h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 2px #000;
}

.results h2,
.results h3 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px #fff;
}

.results h1,
.results h2,
.results h3 {
    margin: 0;
    font-family: 'Share Tech', sans-serif;
}

.results h2 {
    margin-top: 1rem;
    font-size: 2.6rem;
    animation: chill 2s;
    letter-spacing: 1.2px;
}

.results h3 {
    margin: 0.7rem;
    font-size: 2rem;
}

.results p {
    margin: 0.5rem;
    font-size: 1.45rem;
    border-radius: 10px;
}

.resultBox1  {
    width: 60%;
    padding: 1rem;
    margin: 1rem auto; 
    border-radius: 10px;
    background-color: $color-five;
}

.resultBox1 p {
    font-size: 2rem;

}

.results .initialText p {
    font-size: 2.6rem;
}

.grey {
    color: $color-seven;
}

.resultBox {
    width: 65%;
    margin: 1rem auto; 
    border-radius: 10px;
    padding: 0 1rem 1rem 1rem;
    background-color: $color-five;
}

.resultBox img {
    margin-top: 2rem;
    width: 100%;
}


.resultBox .highlight {
    padding: 0.5rem;
    margin: 1rem auto;
    font-size: 1.7rem;
    letter-spacing: 1.2px;
    background: rgba(255,255,255,0.5);
}

.resultBox .highlight:hover {
    transition: all 0.3s;
    transform: scale(1.1);
    background: rgba(255,255,255,0.8);
}

.timothy {
    width: 70%;
}

.statsInfo {
    color: $color-eight;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #000;
}

.youtube {
    font-size: 1.5rem;
    border-radius: 0.3rem;
    background: rgba(255, 255, 0, 0.3);
}

.youtube a:hover {
    text-decoration: underline;
}

.portfolio {
    font-size: 1.5rem;
    text-decoration: none;
}

button.restart {
    font-size: 2rem;
    margin-top: 1rem;
    border-radius: 10px;
    transition: all 0.3s;
    background-color: $color-nine;
}



// - footer starts here - 



.credit {
    top: -40px;
    right: 80px;
    width: 100%;
    font-size: 0.8rem;
    text-align: right;
    position: absolute;
}

.copyright {
    padding: 0.5rem 0;
    position: relative;
    text-align: center;
    letter-spacing: 1.5px;
    background-color: $color-four;
}

.copyright a {
    text-decoration: none;;
}

.copyright p {
    font-size: 1rem;
}

// - grouped selectors - 

.mainTitle,
.results h1 {
    color: $color-one;
}

.goatAcronym,
.titleButton,
button:hover,
button:focus,
button.restart:hover,
.credit,
.copyright,
.copyright a {
    color: $color-three;
}

.bubble,
.choice input[type="radio"]:checked,
button,
.results .scoring,
.resultBox .highlight,
.portfolio,
button.restart  {
    color: $color-four;
}

.title,
.youtube a:hover {
    color: $color-six;
}

// - keyframes list - 


@keyframes chill {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(1px, 1px) scale(1.3); }
    20% { transform: translate(-1px, -2px) rotate(-2deg); }
    40% { transform: translate(-3px, 0px) rotate(2deg); }
    50% { transform: translate(-3px, 0px) scale(1.3); }
    60% { transform: translate(3px, 2px) rotate(0deg); }
    70% { transform: translate(3px, 2px) scale(1); }
    80% { transform: translate(1px, -1px) rotate(2deg); }
    100% { transform: translate(-1px, 2px) rotate(-2deg); }
}

@keyframes shakes {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-15deg); }
    20% { transform: translate(-3px, 0px) rotate(15deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(15deg); }
    50% { transform: translate(-1px, 2px) rotate(-15deg); }
    60% { transform: translate(-3px, 1px) rotate(15deg); }
    70% { transform: translate(3px, 1px) rotate(-15deg); }
    80% { transform: translate(-1px, -1px) rotate(15deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-15deg); }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(10deg); }
    10% { transform: translate(-1px, -2px) rotate(0deg); }
    20% { transform: translate(-3px, 0px) rotate(-10deg); }
    30% { transform: translate(3px, 2px) rotate(10deg); }
    40% { transform: translate(1px, -1px) rotate(0deg); }
    50% { transform: translate(-1px, 2px) rotate(10deg); }
    60% { transform: translate(-3px, 1px) rotate(-10deg); }
    70% { transform: translate(3px, 1px) rotate(10deg); }
    80% { transform: translate(-1px, -1px) rotate(-10deg); }
    90% { transform: translate(1px, 2px) rotate(10deg); }
    100% { transform: translate(1px, -2px) rotate(0deg); }
}