
// - global styles -

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    background-size: contain;
    background-repeat: repeat-y;
    background-color: $color-four;
}



// - header starts here -



.wrapper {
    max-width: 1800px;
    width: 90%;
    margin: 1rem auto;
    padding: 2rem;
    background-image: url(../assets/pic2.jpg);
    background-position: center;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
    position: center;
}


.mainTitle {
    text-align: center;
    font-size: 7rem;
    color: $color-one;
    width: 82%;
    margin: 0 auto;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    animation: chill 1s;
    background-color: $color-five;
    border-radius: 10px;
}


.goatAcronym {
    font-size: 3rem;
    color: $color-three;
    margin: 1rem auto;
    text-shadow: 2px 2px 2px #000;
    
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.playersPic {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: relative;
    width: 100%;
}

.imgDiv1 {
    width: 20%;
}
.imgDiv2 {
    width: 20%;
}

.imgDiv3 {
    width: 30%;
}

.imgHeader1 {
    width: 70%;
    margin-right: -3rem;
}

.imgHeader2 {
    width: 90%;
    margin-right: -4rem;
}

.imgHeader3 {
    width: 90%;
    margin-left: -8rem;
}

.imgHeader4 {
    width: 100%;
    margin-left: -15rem;
    margin-top: -5rem;
}


.shakes {
    animation: shakes 3s;
}

.shake {
    animation: shake 2s;
}

.shake,
.shakes {
    animation-iteration-count: infinite;
}

.bubble {
    padding: 1rem;
    position: absolute;
    right: 4rem;
    bottom: 20rem;
    color: $color-four;
    background: #ffffff98;;
    border-radius: 25px;
}

.smallBubble {
    position: absolute;
    right: 10rem;
    bottom: 19rem;
    background: #ffffff98;
    color: rgba(0,0,0,0);
    border-radius: 35%;
}

.titleButton {
    color: $color-three;
    background-color: rgba(0,0,0,0.9);
    font-size: 2.1rem;
    border-radius: 10px;
    padding: 1rem;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.titleButton:hover {
    background-color: rgb(20, 20, 20);
    box-shadow: 1px 1px 10px #fff;
    transition: all 0.5s;
}



// - main starts here - 



.quizWrapper {
    padding-top: 4rem;
    display: none;
}

.quizBox {
    width: 60%;
    min-height: 80vh;
    margin: auto;
    padding: 3rem;
    background: $color-five;
    display: flex; 
    flex-direction: column;
    text-shadow: 0 1px #000;
    box-shadow: 1px 1px rgba(0,0,0,0.3);
    border-radius: 20px;
}

.title {
    color: rgb(77, 77, 77);
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    background: rgba(255,255,255, 0.5);
}

.question {
    font-size: 2.4rem;
    margin: 2rem auto;
}

.choice {
    font-size: 1.5rem;
    width: 80%;
    color: rgba(17, 17, 17, 0.584);
    margin: 0 auto;
    text-align: start;
    padding: 1rem 2rem;
    background: rgba(255,255,255, 0.5);
    border-radius: 1rem;
    transition: all 0.35s;
}

.choice:hover {
    background: rgba(255,255,255, 0.9);
}

.choice input[type="radio"]:checked {
    color: #000;
    background-color: #17408B;
}

.mainButtons > * {
    margin: 1rem;
}

.mainButtons {
    margin: 0 auto;
}

button {
    padding: 0.5rem 1.5rem;
    margin: 0 auto;
    border: none;
    font-family: 'Share Tech', sans-serif;
    font-weight: 300;
    color: $color-four;
    outline: none;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
    transition: all 0.35s;
}

button:hover,
button:focus {
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
    transform: scale(1.05);
    color: $color-three;
}

button.next {
    background: $color-two;
}

button.previous {
    background: $color-one;
}

button.next,
button.previous {
    border-radius: 5px;
    font-size: 1.5rem;
    margin-top: 3rem;
}



// - results section - 

.results {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.results .scoring {
    font-size: 3rem;
    padding: 2rem 0;
    text-shadow: 2px 2px 2px #fff;
    color: black;
}

.results h1 {
    font-size: 3rem;
    color: $color-one;
    text-shadow: 2px 2px 2px #000;
}

.results h2,
.results h3 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px #fff;
}

.results h1,
.results h2,
.results h3 {
    margin: 0;
    font-family: 'Share Tech', sans-serif;
}

.results h2 {
    font-size: 2.6rem;
    letter-spacing: 1.2px;
    margin-top: 1rem;
    animation: chill 2s;
}

.results h3 {
    font-size: 2rem;
    margin: 0.7rem;
}

.results p {
    margin: 0.5rem;
    font-size: 1.45rem;
    border-radius: 10px;
}

.resultBox1  {
    padding: 1rem;
    width: 60%;
    margin: 1rem auto; 
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
}

.resultBox1 p {
    font-size: 2rem;

}

.results .initialText p {
    font-size: 2.6rem;
}

.grey {
    color: rgb(99, 97, 97);
}

.resultBox {
    width: 65%;
    margin: 1rem auto; 
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
    padding: 0 1rem 1rem 1rem;
}

.resultBox img {
    margin-top: 2rem;
}

.resultBox .highlight {
    font-size: 1.7rem;
    letter-spacing: 1.2px;
    padding: 0.5rem;
    color: $color-four;
    background: rgba(255,255,255,0.5);
    margin: 1rem auto;
}

.resultBox .highlight:hover {
    background: rgba(255,255,255,0.8);
    transform: scale(1.1);
    transition: all 0.3s;
}

.timothy {
    width: 70%;
}

.statsInfo {
    color: rgb(143,7,7);
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 2px;
}

.youtube {
    font-size: 1.5rem;
    background: rgba(255, 255, 0, 0.3);
    border-radius: 0.3rem;
}

.youtube a:hover {
    color: $color-six;
    text-decoration: underline;
}

.portfolio {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

button.restart {
    font-size: 2rem;
    color: $color-four;
    background-color: green;
    border-radius: 10px;
    margin-top: 1rem;
    transition: all 0.3s;
}

button.restart:hover {
    color: $color-three;
}



// - footer starts here - 



.credit {
    color: $color-three;
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
    position: absolute;
    top: -40px;
    right: 80px;
}

.copyright {
    text-align: center;
    background-color: $color-four;
    letter-spacing: 1.5px;
    color: $color-three;
    padding: 0.5rem 0;
    position: relative;
    
}

.copyright a {
    color: $color-three;
    text-decoration: none;;
}

.copyright p {
    font-size: 1rem;
}




// - keyframes list - 


@keyframes chill {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(1px, 1px) scale(1.3); }
    20% { transform: translate(-1px, -2px) rotate(-2deg); }
    40% { transform: translate(-3px, 0px) rotate(2deg); }
    50% { transform: translate(-3px, 0px) scale(1.3); }
    60% { transform: translate(3px, 2px) rotate(0deg); }
    70% { transform: translate(3px, 2px) scale(1); }
    80% { transform: translate(1px, -1px) rotate(2deg); }
    100% { transform: translate(-1px, 2px) rotate(-2deg); }
}

@keyframes shakes {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-15deg); }
    20% { transform: translate(-3px, 0px) rotate(15deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(15deg); }
    50% { transform: translate(-1px, 2px) rotate(-15deg); }
    60% { transform: translate(-3px, 1px) rotate(15deg); }
    70% { transform: translate(3px, 1px) rotate(-15deg); }
    80% { transform: translate(-1px, -1px) rotate(15deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-15deg); }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(10deg); }
    10% { transform: translate(-1px, -2px) rotate(0deg); }
    20% { transform: translate(-3px, 0px) rotate(-10deg); }
    30% { transform: translate(3px, 2px) rotate(10deg); }
    40% { transform: translate(1px, -1px) rotate(0deg); }
    50% { transform: translate(-1px, 2px) rotate(10deg); }
    60% { transform: translate(-3px, 1px) rotate(-10deg); }
    70% { transform: translate(3px, 1px) rotate(10deg); }
    80% { transform: translate(-1px, -1px) rotate(-10deg); }
    90% { transform: translate(1px, 2px) rotate(10deg); }
    100% { transform: translate(1px, -2px) rotate(0deg); }
}