// Possible Media Queries


@media (max-width: 1400px) {
    body {
        background: red;
    }
}

@media (max-width: 1200px) {
    body {
        background: green;
    }
}

@media (max-width: 1000px) {
    body {
        background: yellow;
    }
}

// @media (max-width: 900px) {
    
// }

// @media (max-width: 768px) {
    
// }

// @media (max-width: 500px) {
    
// }

// @media (max-width: 360px) {
    
// }