// Possible Media Queries


@media (max-width: 1400px) {
    // body {
    //     background: red;
    // }
    .bubble {
        bottom: 19rem;
    }
    .smallBubble {
        bottom: 18rem;
    }
}

@media (max-width: 1200px) {
    // body {
    //     background: green;

    // }
    .mainTitle {
        margin-top: 2rem;
    }
    .strongGoat {
        width: 55%;
    }
    .goatAcronym {
        margin-top: 1rem;
    }
    .lebron,
    .jordan {
        width: 45%;
        height: 75%;
        position: center;
    }
    .title {
        font-size: 3rem;
    }
    .question {
        font-size: 2rem;
    }
    .resultBox .highlight {
        font-size: 1.5rem;
    }
    .resultBox img {
        width: 80%;
    }
    .credit {
        right: 65px;
    }
}

@media (max-width: 1000px) {
    // body {
    //     background: yellow;
    // }
    .bubble {
        bottom: 18rem;
    }
    .smallBubble {
        bottom: 17rem;
    }
    .quizBox,
    .resultBox1,
    .resultBox {
        width: 70%;
    }
    .results h3 {
        font-size: 1.7rem;
    }
    .results h2 {
        font-size: 2rem;
        margin-top: 0.3rem;
    }
    .results p {
        font-size: 1.3rem;
    }
    .credit {
        top: -36px;
        right: 57px;
        font-size: 0.7rem;
    }
}

@media (max-width: 900px) {
    // body {
    //     background: purple;
    // }
    .mainTitle {
        font-size: 6.5rem;
        margin-bottom: 1rem;
    }
    .goatAcronym {
        font-size: 2.3rem;
    }
    .bubble {
        bottom: 16rem;
    }
    .smallBubble {
        bottom: 15rem;
    }
    .titleButton {
        font-size: 1.8rem;
        margin-top: 0;
    }
    .title {
        margin-bottom: 1rem;
    }
    .results .initialText p {
        font-size: 2.1rem;
    }
    .results h2,
    .results h3 {
        font-size: 1.7rem;
        margin-top: 0.3rem;
    }
    .results p {
        font-size: 1.3rem;
    }
    .resultBox .highlight {
        font-size: 1.3rem;
    }
    .youtube {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    // body {
    //     background: orange;
    // }
    .mainTitle {
        font-size: 5rem;
        margin-bottom: 1rem;
    }
    .strongGoat {
        margin-top: 2rem;
    }
    .lebron {
        margin-right: -1rem;
    }
    .jordan {
        margin-left: -2rem;
    }
    .bubble {
        bottom: -3rem;
    }
    .smallBubble {
        bottom: 0rem;
    }
    .question {
        font-size: 1.7rem;
    }
    .choice {
        width: 90%;
    }
    button.next, button.previous {
    font-size: 1.2rem;
    }
    .titleButton {
        font-size: 1.5rem;
    }
    .title {
        font-size: 2.5rem;
    }
    .mainButtons > * {
    margin: 0.5rem;
    }
    .quizBox,
    .resultBox1,
    .resultBox {
        width: 75%;
    }
    .results .initialText p {
        font-size: 1.55rem;
    }
    .results p {
        font-size: 0.95rem;
    }
    .statsInfo {
        line-height: 20px;
        text-shadow: none;
        font-weight: 700;
    }
    .credit {
        right: 42px;
    }
    .results h1 {
        font-size: 2.5rem;
    }
    .results h3 {
    font-size: 1.4rem;
    }
}

@media (max-width: 500px) {
    // body {
    //     background: pink;
    // }
    .mainTitle {
        font-size: 4.5rem;
        margin-top: 0;
    }
    .goatAcronym {
        font-size: 1.8rem;
    }
    .strongGoat {
        display: none;
    }
    .lebron {
        margin-right: -3rem;
    }
    .jordan {
        margin-right: 2rem;
    }
    .lebron,
    .jordan {
        width: 55%;
        height: 80%;
        position: center;
    }
    .bubble {
        bottom: 12rem;
        right: -1rem
    }
    .smallBubble {
        bottom: 12rem;
        right: 4.5rem;
    }
    .titleButton {
        font-size: 1.2rem;
    }
    .quizBox {
        padding: 2rem;
    }
    .quizBox,
    .resultBox1,
    .resultBox {
        width: 90%;
    }
    .title {
        margin-bottom: 0;
    }
    .choice {
        font-size: 1.2rem; 
        width: 95%;
    }
    .resultBox img {
        width: 90%;
    }
    .results .scoring {
        font-size: 2.7rem;
    }
    .results .initialText p {
        font-size: 1.3rem;
    }
    .youtube {
        font-size: 0.9rem;
    }
    button.restart {
        font-size: 1.7rem;
    }
    .credit {
        right: 31px;
        font-size: 0.6rem;
    }
    .copyright p {
        font-size: 0.8rem;
    }

}

@media (max-width: 400px) {
    // body {
    //     background: brown;
    // }
    .mainTitle {
        font-size: 3.2rem;
    }
    .goatAcronym {
        font-size: 1.5rem;
    }
    .lebron {
        margin-right: -2rem;
    }
    .jordan {
        margin-right: 1rem;
    }
    .bubble {
        font-size: 0.8rem;
        bottom: -1rem;
        right: -1.5rem
    }
    .smallBubble {
        bottom: 1rem;
        right: 3rem;
    }
    .title {
        font-size: 2rem;
    }
    .question {
        font-size: 1.3rem;
    }
    button.next, button.previous {
        font-size: 1rem;

    }
    .mainButtons > * {
        margin: 0.3rem;
    }
    button {
        padding: 0.5rem 1.1rem;
    }
    .quizBox,
    .resultBox1,
    .resultBox {
        width: 100%;
    }
    .resultBox img {
        width: 100%;
    }
    .results .scoring {
        font-size: 2.2rem;
    }
    .results h2 {
        font-size: 1.5rem;
    }
    .results h3 {
        font-size: 1.3rem;
    }
    .results p {
        font-size: 0.8rem;
    }
    .results .initialText p {
        font-size: 1rem;
    }
    .credit {
        top: -34px;
        right: 24px;
    }
    .copyright p {
        font-size: 0.7rem;
    }
}