html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  background-size: contain;
  background-repeat: repeat-y;
  background-color: #000;
}

.wrapper {
  max-width: 1800px;
  width: 90%;
  margin: 1rem auto;
  padding: 2rem;
  background-image: url(../assets/pic2.jpg);
  background-position: center;
  text-align: center;
}

.quizWrapper {
  padding-top: 4rem;
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: center;
}

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainTitle {
  text-align: center;
  font-size: 7rem;
  color: #C9082A;
  margin-top: 0rem;
  margin-bottom: 0;
  font-weight: 300;
  text-shadow: 2px 2px 2px #000;
  -webkit-animation: chill 1s;
          animation: chill 1s;
}

@-webkit-keyframes chill {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(1px, 1px) scale(1.3);
            transform: translate(1px, 1px) scale(1.3);
  }
  20% {
    -webkit-transform: translate(-1px, -2px) rotate(-2deg);
            transform: translate(-1px, -2px) rotate(-2deg);
  }
  40% {
    -webkit-transform: translate(-3px, 0px) rotate(2deg);
            transform: translate(-3px, 0px) rotate(2deg);
  }
  50% {
    -webkit-transform: translate(-3px, 0px) scale(1.3);
            transform: translate(-3px, 0px) scale(1.3);
  }
  60% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 2px) scale(1);
            transform: translate(3px, 2px) scale(1);
  }
  80% {
    -webkit-transform: translate(1px, -1px) rotate(2deg);
            transform: translate(1px, -1px) rotate(2deg);
  }
  100% {
    -webkit-transform: translate(-1px, 2px) rotate(-2deg);
            transform: translate(-1px, 2px) rotate(-2deg);
  }
}

@keyframes chill {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(1px, 1px) scale(1.3);
            transform: translate(1px, 1px) scale(1.3);
  }
  20% {
    -webkit-transform: translate(-1px, -2px) rotate(-2deg);
            transform: translate(-1px, -2px) rotate(-2deg);
  }
  40% {
    -webkit-transform: translate(-3px, 0px) rotate(2deg);
            transform: translate(-3px, 0px) rotate(2deg);
  }
  50% {
    -webkit-transform: translate(-3px, 0px) scale(1.3);
            transform: translate(-3px, 0px) scale(1.3);
  }
  60% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 2px) scale(1);
            transform: translate(3px, 2px) scale(1);
  }
  80% {
    -webkit-transform: translate(1px, -1px) rotate(2deg);
            transform: translate(1px, -1px) rotate(2deg);
  }
  100% {
    -webkit-transform: translate(-1px, 2px) rotate(-2deg);
            transform: translate(-1px, 2px) rotate(-2deg);
  }
}

.goatAcronym {
  font-size: 3rem;
  color: #FFF;
  margin: 1rem auto;
  text-shadow: 2px 2px 2px #000;
}

.strongGoat {
  width: 40%;
}

.lebron {
  margin-right: -3rem;
}

.jordan {
  margin-left: -3rem;
}

.earvin {
  margin-right: -2rem;
  margin-left: 4rem;
  width: 19%;
}

.tim {
  width: 40%;
  border-radius: 30%;
  margin: -7rem 3rem 0rem -10rem;
}

.lebron,
.jordan {
  width: 25%;
  height: 66%;
}

.shakes {
  -webkit-animation: shakes 3s;
          animation: shakes 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.shake {
  -webkit-animation: shake 2s;
          animation: shake 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shakes {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-15deg);
            transform: translate(-1px, -2px) rotate(-15deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(15deg);
            transform: translate(-3px, 0px) rotate(15deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(15deg);
            transform: translate(1px, -1px) rotate(15deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-15deg);
            transform: translate(-1px, 2px) rotate(-15deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(15deg);
            transform: translate(-3px, 1px) rotate(15deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-15deg);
            transform: translate(3px, 1px) rotate(-15deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(15deg);
            transform: translate(-1px, -1px) rotate(15deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-15deg);
            transform: translate(1px, -2px) rotate(-15deg);
  }
}

@keyframes shakes {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-15deg);
            transform: translate(-1px, -2px) rotate(-15deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(15deg);
            transform: translate(-3px, 0px) rotate(15deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(15deg);
            transform: translate(1px, -1px) rotate(15deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-15deg);
            transform: translate(-1px, 2px) rotate(-15deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(15deg);
            transform: translate(-3px, 1px) rotate(15deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-15deg);
            transform: translate(3px, 1px) rotate(-15deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(15deg);
            transform: translate(-1px, -1px) rotate(15deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-15deg);
            transform: translate(1px, -2px) rotate(-15deg);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(10deg);
            transform: translate(1px, 1px) rotate(10deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(0deg);
            transform: translate(-1px, -2px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(-10deg);
            transform: translate(-3px, 0px) rotate(-10deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(10deg);
            transform: translate(3px, 2px) rotate(10deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(0deg);
            transform: translate(1px, -1px) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(10deg);
            transform: translate(-1px, 2px) rotate(10deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(-10deg);
            transform: translate(-3px, 1px) rotate(-10deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(10deg);
            transform: translate(3px, 1px) rotate(10deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(-10deg);
            transform: translate(-1px, -1px) rotate(-10deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(10deg);
            transform: translate(1px, 2px) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(0deg);
            transform: translate(1px, -2px) rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(10deg);
            transform: translate(1px, 1px) rotate(10deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(0deg);
            transform: translate(-1px, -2px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(-10deg);
            transform: translate(-3px, 0px) rotate(-10deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(10deg);
            transform: translate(3px, 2px) rotate(10deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(0deg);
            transform: translate(1px, -1px) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(10deg);
            transform: translate(-1px, 2px) rotate(10deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(-10deg);
            transform: translate(-3px, 1px) rotate(-10deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(10deg);
            transform: translate(3px, 1px) rotate(10deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(-10deg);
            transform: translate(-1px, -1px) rotate(-10deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(10deg);
            transform: translate(1px, 2px) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(0deg);
            transform: translate(1px, -2px) rotate(0deg);
  }
}

.playersPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.bubble {
  padding: 1rem;
  position: absolute;
  right: 0;
  bottom: 25rem;
  color: #000;
  background: #ffffff70;
  border-radius: 25%;
}

.smallBubble {
  position: absolute;
  right: 5rem;
  bottom: 23rem;
  background: #ffffff70;
  color: rgba(0, 0, 0, 0);
  border-radius: 35%;
}

.titleButton {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 2.1rem;
  border-radius: 10px;
  padding: 1rem;
  text-transform: uppercase;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.titleButton:hover {
  background-color: #141414;
  -webkit-box-shadow: 1px 1px 10px #fff;
          box-shadow: 1px 1px 10px #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.quizBox {
  width: 60%;
  min-height: 80vh;
  margin: auto;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-shadow: 0 1px #000;
  -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.title {
  color: #4d4d4d;
  font-size: 3.5rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.question {
  font-size: 2.4rem;
  margin: 2rem auto;
}

.choice {
  font-size: 1.5rem;
  width: 80%;
  color: rgba(17, 17, 17, 0.584);
  margin: 0 auto;
  text-align: start;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}

.choice input[type="radio"]:checked {
  color: #000;
  background-color: #17408B;
}

.choice:hover {
  background: rgba(255, 255, 255, 0.5);
}

.mainButtons > * {
  margin: 1rem;
}

.mainButtons {
  margin: 0 auto;
}

button {
  padding: 0.5rem 1.5rem;
  margin: 0 auto;
  border: none;
  font-family: 'Share Tech', sans-serif;
  font-weight: 300;
  color: #000;
  outline: none;
}

button:hover,
button:focus {
  font-weight: 500;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #FFF;
}

button.next {
  background: #17408B;
}

button.previous {
  background: #C9082A;
}

button.next,
button.previous {
  border-radius: 5px;
  font-size: 1.5rem;
  margin-top: 3rem;
}

.results .initialText p {
  font-size: 2.6rem;
}

.magicHeader {
  margin: 0;
}

.timothy {
  width: 70%;
}

.results .scoring {
  font-size: 3rem;
  padding: 2rem 0;
  text-shadow: 2px 2px 2px #fff;
  color: black;
}

.resultBox1 {
  padding: 1rem;
  width: 60%;
  margin: 1rem auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

.resultBox1 p {
  font-size: 2rem;
}

.results {
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
}

.grey {
  color: #636161;
}

.results h1 {
  font-size: 3rem;
  color: #C9082A;
  text-shadow: 2px 2px 2px #000;
}

.results h2,
.results h3 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px #fff;
}

.results h1,
.results h2,
.results h3 {
  margin: 0;
  font-family: 'Share Tech', sans-serif;
}

.results h2 {
  font-size: 2.6rem;
  letter-spacing: 1.2px;
  margin-top: 1rem;
  -webkit-animation: chill 2s;
          animation: chill 2s;
}

.statsInfo {
  color: #8f0707;
  text-shadow: 1px 1px 1px #000;
  letter-spacing: 2px;
}

.results h3 {
  font-size: 2rem;
  margin: 0.7rem;
}

.results p {
  margin: 0.5rem;
  font-size: 1.45rem;
  border-radius: 10px;
}

.resultBox {
  width: 65%;
  margin: 1rem auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 0 1rem 1rem 1rem;
}

.resultBox img {
  margin-top: 2rem;
}

.youtube {
  font-size: 1.5rem;
  background: rgba(255, 255, 0, 0.3);
  border-radius: 0.3rem;
}

.youtube a {
  color: black;
  text-decoration: none;
}

.youtube a:hover {
  color: #383535;
  text-decoration: underline;
}

.resultBox .highlight {
  font-size: 1.7rem;
  letter-spacing: 1.2px;
  padding: 0.5rem;
  color: #000;
  background: rgba(255, 255, 255, 0.5);
  margin: 1rem auto;
}

.resultBox .highlight:hover {
  background: rgba(255, 255, 255, 0.8);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button.restart {
  font-size: 2rem;
  color: #000;
  background-color: green;
  border-radius: 10px;
  margin-top: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button.restart:hover {
  color: #FFF;
}

.credit {
  color: #FFF;
  width: 100%;
  text-align: right;
  font-size: 0.8rem;
  position: absolute;
  top: -40px;
  right: 80px;
}

.copyright {
  text-align: center;
  background-color: #000;
  letter-spacing: 1.5px;
  color: #FFF;
  padding: 0.5rem 0;
  position: relative;
}

.copyright a {
  color: #FFF;
  text-decoration: none;
}

.copyright p {
  font-size: 1rem;
}

@media (max-width: 1400px) {
  .resultBox img {
    width: 90%;
  }
  .bubble {
    bottom: 19rem;
  }
  .smallBubble {
    bottom: 18rem;
  }
}

@media (max-width: 1200px) {
  .tim {
    margin: -7rem 5rem 0rem -10rem;
  }
  .goatAcronym {
    margin-top: 1rem;
  }
  .bubble {
    bottom: 19rem;
    right: 3rem;
  }
  .smallBubble {
    right: 8rem;
    bottom: 18rem;
  }
  .title {
    font-size: 3rem;
  }
  .question {
    font-size: 2rem;
  }
  .resultBox .highlight {
    font-size: 1.5rem;
  }
  .resultBox img {
    width: 80%;
  }
  .credit {
    right: 65px;
  }
}

@media (max-width: 1000px) {
  .earvin {
    margin-right: -1rem;
    margin-left: 4rem;
  }
  .jordan {
    margin-left: -1rem;
  }
  .tim {
    margin: -7rem 2rem 0rem -6rem;
  }
  .bubble {
    right: 0rem;
  }
  .smallBubble {
    right: 5rem;
  }
  .quizBox,
  .resultBox1,
  .resultBox {
    width: 70%;
  }
  .results h3 {
    font-size: 1.7rem;
  }
  .results h2 {
    font-size: 2rem;
    margin-top: 0.3rem;
  }
  .results p {
    font-size: 1.3rem;
  }
  .credit {
    top: -36px;
    right: 57px;
    font-size: 0.7rem;
  }
}

@media (max-width: 900px) {
  .mainTitle {
    font-size: 6.5rem;
    margin-bottom: 1rem;
  }
  .goatAcronym {
    font-size: 2.3rem;
  }
  .tim {
    margin: -4rem 2rem 0rem -4rem;
  }
  .bubble {
    bottom: 16rem;
  }
  .smallBubble {
    bottom: 15rem;
  }
  .titleButton {
    font-size: 1.8rem;
    margin-top: 0;
  }
  .title {
    margin-bottom: 1rem;
  }
  .results .initialText p {
    font-size: 2.1rem;
  }
  .results h2,
  .results h3 {
    font-size: 1.7rem;
    margin-top: 0.3rem;
  }
  .results p {
    font-size: 1.3rem;
  }
  .resultBox .highlight {
    font-size: 1.3rem;
  }
  .youtube {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .mainTitle {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  .goatAcronym {
    font-size: 2rem;
  }
  .strongGoat {
    margin-top: 2rem;
  }
  .lebron {
    margin-right: -1rem;
  }
  .jordan {
    margin-left: -2rem;
  }
  .bubble {
    bottom: 12rem;
  }
  .smallBubble {
    bottom: 11rem;
  }
  .question {
    font-size: 1.7rem;
  }
  .choice {
    width: 90%;
  }
  button.next, button.previous {
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
  }
  .titleButton {
    font-size: 1.5rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .mainButtons > * {
    margin: 0.5rem;
  }
  .quizBox,
  .resultBox1,
  .resultBox {
    width: 75%;
  }
  .results .initialText p {
    font-size: 1.55rem;
  }
  .results p {
    font-size: 0.95rem;
  }
  .statsInfo {
    line-height: 20px;
    text-shadow: none;
    font-weight: 700;
  }
  .credit {
    right: 42px;
  }
  .results h1 {
    font-size: 2.5rem;
  }
  .results h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 640px) {
  .goatAcronym {
    font-size: 1.6rem;
    margin-top: 0;
  }
  .earvin {
    margin-right: 0rem;
    margin-left: 0rem;
  }
  .tim {
    margin: -3rem -1rem 0rem -2rem;
  }
  .jordan {
    margin-left: -2rem;
  }
  .lebron,
  .jordan {
    width: 32%;
    height: 83%;
  }
  .smallBubble {
    right: 1rem;
  }
  .titleButton {
    margin-top: 1rem;
  }
}

@media (max-width: 500px) {
  .mainTitle {
    font-size: 4.5rem;
  }
  .strongGoat {
    display: none;
  }
  .earvin {
    width: 23%;
  }
  .jordan {
    margin-left: -1rem;
  }
  .tim {
    width: 51%;
  }
  .bubble {
    bottom: -4rem;
    right: -1rem;
  }
  .smallBubble {
    bottom: -1.5rem;
    right: 4.5rem;
  }
  .titleButton {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .quizBox {
    padding: 2rem;
  }
  .quizBox,
  .resultBox1,
  .resultBox {
    width: 90%;
  }
  .title {
    margin-bottom: 0;
  }
  .choice {
    font-size: 1.2rem;
    width: 95%;
  }
  button.next, button.previous {
    font-size: 0.9rem;
    padding: 0.5rem 1.2rem;
  }
  .resultBox img {
    width: 90%;
  }
  .results .scoring {
    font-size: 2.7rem;
  }
  .results .initialText p {
    font-size: 1.3rem;
  }
  .youtube {
    font-size: 0.9rem;
  }
  button.restart {
    font-size: 1.7rem;
  }
  .credit {
    right: 31px;
    font-size: 0.6rem;
  }
  .copyright p {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .wrapper {
    padding: 2rem 0.5rem;
  }
  .mainTitle {
    font-size: 3.2rem;
  }
  .goatAcronym {
    font-size: 1.3rem;
  }
  .earvin {
    display: none;
  }
  .lebron {
    margin-right: -3rem;
    margin-left: 2rem;
  }
  .jordan {
    margin-right: 1rem;
    margin-left: 0rem;
  }
  .lebron, .jordan {
    width: 100%;
    height: 100%;
  }
  .tim {
    display: none;
  }
  .bubble {
    font-size: 0.8rem;
    bottom: -3rem;
    right: 1rem;
  }
  .smallBubble {
    bottom: 0.5rem;
    right: 2rem;
  }
  .title {
    font-size: 2rem;
  }
  .question {
    font-size: 1.3rem;
  }
  button.next, button.previous {
    font-size: 0.8rem;
    padding: 0.5rem 0.9rem;
  }
  .mainButtons > * {
    margin: 0.3rem;
  }
  button {
    padding: 0.5rem 1.1rem;
  }
  .quizBox,
  .resultBox1,
  .resultBox {
    width: 100%;
  }
  .resultBox img {
    width: 100%;
  }
  .results .scoring {
    font-size: 2.2rem;
  }
  .results h2 {
    font-size: 1.5rem;
  }
  .results h3 {
    font-size: 1.3rem;
  }
  .results p {
    font-size: 0.8rem;
  }
  .results .initialText p {
    font-size: 1rem;
  }
  .credit {
    top: -34px;
    right: 24px;
  }
  .copyright p {
    font-size: 0.7rem;
  }
}
